$breakpoint-tablet: 767px;
$breakpoint-tablet-horizontal: 1023px;

// TODO: Add mobile landscape version. Add iPad Pro. Fix iPhone12

body {
  margin: 0;
  @font-face {
    font-family: "CarterSans-DisplayHeadlineRegular";
    src: url("public/CarterSans-DisplayHeadlineRegular.woff") format("woff");
    src: url("public/CarterSans-DisplayHeadlineRegular.woff2") format("woff2");
  }
  font-family: "CarterSans-DisplayHeadlineRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b5bcc0;

  .app {
    color: #000000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .header {
    font-size: 33vw;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: relative;
    right: 10px;
    line-height: 0.95em;
    letter-spacing: -0.04em;
  }

  .emailAddress {
    padding-top: 1%;
    padding-left: 5px;
    font-size: 15.1vw;
    letter-spacing: -0.04em;
    right: 0px;
    top: 0px;
    bottom: 0px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
  }

  @media (min-width: $breakpoint-tablet),
    (min-height: $breakpoint-tablet-horizontal) {
    .header {
      font-size: 25vw;
    }
    .emailAddress {
      font-size: 11.5vw;
    }
  }

  @media (min-width: $breakpoint-tablet-horizontal) {
    .app {
      display: flex;
      flex-direction: column;
      left: 1%;
    }
    .header {
      font-size: 18.5vw;
      writing-mode: horizontal-tb;
      transform: unset;
      position: relative;
    }
    .emailAddress {
      font-size: 8.5vw;
      letter-spacing: -0.04em;
      writing-mode: horizontal-tb;
      transform: unset;
      left: 0px;
      position: absolute;
      bottom: 5px;
      top: unset;
    }
  }
}
